DATABASE_URL=jdbc:postgresql://localhost:5432/jobkaki_user_db
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=replace-with-your-local-password
EUREKA_SERVER_URL=http://localhost:8761/eureka/
CONFIG_SERVER_URL=http://localhost:8888
